

.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before { background-color: $hamburger-color; }

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: $header-height;
  background-color: $header-bg;
  color: $header-color;

  &-container {
    margin: 0 auto;
    max-width: $header-container-width;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.Logo {
  height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-link	{
    display: block;
    width: $logo-width-mobile;
    height: $logo-height;
    text-indent: -9999px;
    text-decoration: none;
    background: {
      image: url($logo-url);
      size: $logo-bg-size;
      repeat: no-repeat;
      position: center;
    }
  }
}

.MenuMain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 0;

  & .fa { color: $links; }

  &-link {
    height: $header-height;
    padding: 1.25rem 1rem;
    border-bottom: medium solid transparent;
    text-decoration: none;
    color: #FFF;

    &:hover {
      border-bottom: medium solid $links;
      color: #FFF;
    }
  }
}

body {
  transform: translateX(0);
  transition: transform .3s ease-out;
}

body.is-active {
  transform: translateX(calc(-100% + 4rem));
}

.Panel {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark;
  transform: translateX(100%);

  &.is-active {
    transform: translateX( calc(100% + 4rem) );
    width: calc(100% - 4rem);
  }
}

.u-afterFixed { padding-top: $header-height; }

@media screen and (min-width: 64em) {
  .Header {
    &-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .Panel {
    position: absolute;
    width: 20%;
    height: 300px;
    top: $header-height;
    background-color: transparent;
    opacity: 0;
    display: none;
    transform: translateX(400%);

    &-button { display: none; }
  }
}
